aws_region          = "us-east-1"
aws_profile         = "my-asset-project"
key_name            = "EC2Tutorial"
allowed_ssh_cidr    = "0.0.0.0/0"
allowed_app_cidr    = "0.0.0.0/0"
app_repo_url        = "https://github.com/bigb787/Infodesk_leavers.git"
app_repo_branch     = "main"
backup_bucket_name  = null
backup_retention_days = 30
